name: Build and publish

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  set-version:
    name: Set version info
    runs-on: ubuntu-latest
    container:
      image: python:3.14-slim
    timeout-minutes: 5
    permissions:
      contents: read
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install poetry
        run: pip install poetry==${{ vars.POETRY_VERSION }}

      - name: Save version to output
        id: version
        run: |
          VERSION=$(poetry version -s)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Display version
        run: echo "Version ${{ steps.version.outputs.version }}"

  build-and-publish:
    name: Build and publish package
    runs-on: ubuntu-latest
    container:
      image: python:3.14-slim
    needs:
      - set-version
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install poetry
        run: pip install poetry==${{ vars.POETRY_VERSION }}

      - name: Configure poetry
        run: poetry config virtualenvs.create false

      - name: Install project dependencies
        run: poetry install --no-interaction

      - name: Build
        run: poetry build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1


  create-release:
    name: Create release
    runs-on: ubuntu-latest
    needs:
      - set-version
      - build-and-publish
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ needs.set-version.outputs.version }}
          tag_name: ${{ needs.set-version.outputs.version }}
          target_commitish: ${{ github.sha }}
          generate_release_notes: true
